textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px black solid;
  border-bottom-width: thick;
  background-color: #f4f1ec;
  margin-top: 3.3rem;
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

#button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: "Bungee", cursive;
}

.counter {
  font-family: "Bungee", cursive;
}

.new-tweet {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}



