.tweets {
  box-sizing: border-box;
  border: solid;
  border-color: black;
  border-width: thick;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  height: auto;
  padding: 2rem 1rem 2rem 1rem;
  /* margin: 2rem 3.3rem; */
  justify-content: center;
  transition: box-shadow .3s;
}

.tweets:hover {
  box-shadow: 10px 10px 5px gray; 
}

.icons {
  color: #4056A1;
}

#icon1:hover {
  color: orange;
}

#icon2:hover {
  color: orange;
}

#icon3:hover {
  color: orange;
}

.top-of-tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profname {
  align-items: center;
}

.tweet-body {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top-style: solid;
  border-bottom-color: black;
  border-width: thick;
}

.user-name {
  padding-left: 10px;
}

.handle {
  color: gray;
}